.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: rgb(65, 26, 65);
        position: fixed;
    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: rgb(186, 202, 169);
        min-height: 100vh;
        display: grid;
        color: black;
        position: relative;
        .content{
            margin: 5rem 8rem;
        }
    }
}

