@import './styles/layout.scss';
@import './styles/navbar.scss';
@import './styles/typeo.scss';
@import './styles/tittle.scss';
@import './styles/about.scss';
@import './styles/skill.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: rgb(219, 217, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}

span{
    color: purple;
}